[submodule "fluentqa-checker"]
	path = fluentqa-checker
	url = git@github.com:fluent-qa/fluentqa-checker.git
[submodule "fluentqa-pytpl"]
	path = fluentqa-pytpl
	url = https://github.com/fluent-qa/fluentqa-pytpl.git
